@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Prata&display=swap");

.button {
  margin: 20px 5%;
  background-color: #6278f7;
  border: none;
  padding: 20px 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  color: #95ffd4;
}
