@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Prata&display=swap");

.campo-texto {
  margin: 0 auto;
  max-width: 90%;
}

.campo-texto label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0 0 8px;
  display: block;
}

.campo-texto input {
  border: none;
  font-size: 1.6rem;
  background-color: #ffff;
  margin: 0 0 22px;
  padding: 25px 0 25px 21px;
  width: 97%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}
